<div class="list-group">
  <%= link_to "Creator Roles", rawg_api_creator_roles_path, class: "btn btn-lg btn-light" %>
  <br/>
  
  <%= link_to "Creators", rawg_api_creators_path, class: "btn btn-lg btn-light" %>
  <br/>

  <%= link_to "Developers", rawg_api_developers_path, class: "btn btn-lg btn-light" %>
  <br/>

  <%= link_to "Games", rawg_api_games_path, class: "btn btn-lg btn-light" %>
  <br/>
</div>